.cartTotal {
  width: 100%;
  height: fit-content;
  background-color: #d6cbcb;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.viewTotal {
  display: flex;
  justify-content: space-between;
}

.cttotalName {
  font-weight: 600;
  color: #6f6f6f;
}

.cttotalPrice {
  color: #333333;
  font-weight: 600;
}

.checkOutProcess {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkOutProcess input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d6cbcb;
  outline: none;
  padding: 10px;
  font-size: 1rem;
}

.checkOutProcess button {
  color: white;
  background-color: #ff5049;
  border-radius: 8px;
  font-size: 1rem;
  width: 180px;
  font-weight: bold;
  padding: 10px;
  height: 50px;
  border: none;
  box-shadow: 0 0 15px #00000026;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.checkOutProcess button:hover {
  background-color: #232f3e;
}
