.cart {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  height: 100vh;
  right: -320px;
  width: 300px;
  background-color: white;
  z-index: 1000;
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6f6f6f;
  padding: 10px 10px;
}

.cart-header h5 {
  color: #6f6f6f;
  font-weight: normal;
  font-size: 0.94rem;
}

.count-item {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.cart-xmark {
  color: #6f6f6f;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.cart-bagShopping {
  color: #6f6f6f;
  font-size: 4rem;
}

.cart-info button {
  background-color: #232f3e;
  padding: 15px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 280px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
}

.cart-info button:hover {
  background-color: #ff5049;
}
