.subTotal-Xbtn {
  margin-top: auto;
}

.subTotal-info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 0.9rem;
  border: 1px solid #6f6f6f;
  border-left: none;
  border-right: none;
}

.subTotal-name {
  color: #6f6f6f;
  font-weight: bold;
}

.subTotal {
  color: #232f3e;
  font-weight: bold;
}

.cartBtn {
  padding: 15px;
  font-size: 0.9rem;
}

.cartBtn input {
  cursor: pointer;
}

.cartBtn label {
  color: #232f3e;
  margin-left: 5px;
}

.cartBtn label a {
  color: #6f6f6f;
  text-decoration: underline;
  display: block;
}

.cartBtn-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 20px;
}

.viewCart-btn {
  background-color: #232f3e;
  padding: 15px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 260px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.viewCart-btn:hover {
  background-color: #ff5049;
}

.checkOutBtn {
  background-color: #c7c2c2;
  padding: 15px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 260px;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.checkOutBtn.active {
  background-color: #ff5049;
  cursor: pointer;
}

.checkOutBtn.active:hover {
  background-color: #232f3e;
}
