.cartFeatured {
  padding: 80px 110px;
  font-family: sans-serif;
}

.cartFeatured h1 {
  color: #232f3e;
  font-weight: 600;
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 80px;
}

.customfeaturedCollection-swiperSlide {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.fCollectiontImg {
  width: auto;
  height: auto;
}

.fCollectiontImg img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.customfeaturedCollection-swiperSlide:hover .fCollectiontImg img {
  transform: scale(1.1);
}

.fCollection-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.fCollection-name {
  color: #6f6f6f;
}

.pricefCollection span {
  color: #ff5049;
  font-weight: 500;
}

.fCollectionstar-checked {
  color: #fe9704;
}

.fCollectionIconBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  right: 10px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, right 0.3s ease;
}

.customfeaturedCollection-swiperSlide:hover .fCollectionIconBtn {
  opacity: 1;
  visibility: visible;
  right: 10%;
}

.fCollectionBtn-icon {
  border: 1px solid #6f6f6f;
  color: #6f6f6f;
  padding: 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.fCollectionBtn-icon:hover {
  border: #ff5049;
  background-color: #ff5049;
  color: #fff;
}
