.deal {
  padding: 80px 0px;
  margin: 0px 30px;
  font-family: sans-serif;
  background-image: url("./image/deal.jpg");
  height: 80vh;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.deal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: auto;
}

.discountText {
  color: #ff5049;
  font-size: 1.2rem;
}

.dealTitle {
  color: #232f3e;
  font-size: 1.9rem;
}

.dealTimer {
  display: flex;
  gap: 40px;
}

.dealTimer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dealTimer div span {
  font-size: 0.9rem;
  color: #6f6f6f;
}
.displayTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  color: #ff5049;
  font-size: 1.4rem;
  box-shadow: 0 0 15px #00000026;
}

.dealBtn button {
  margin-top: 20px;
  color: white;
  background-color: #ff5049;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  width: 180px;
  height: 50px;
  border: none;
  box-shadow: 0 0 15px #00000026;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.dealBtn button:hover {
  background-color: #232f3e;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deal {
    padding: 50px 0px;
    width: 90%;
    margin: 50px 20px;
    height: fit-content;
    background-size: cover;
  }

  .deal-content {
    padding: 10px 0px;
    height: auto;
    gap: 10px;
  }

  .discountText {
    font-size: 1rem;
  }

  .dealTitle {
    font-size: 1.2rem;
  }

  .dealTimer div span {
    font-size: 1rem;
  }

  .dealTimer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 10px;
  }

  .displayTimer {
    font-size: 1.8rem;
    padding: 40px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
  }

  .dealBtn button {
    font-size: 1rem;
    height: 50px;
    width: 190px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .deal {
    width: 93%;
    height: fit-content;
    background-size: cover;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .deal {
    width: 93%;
    height: fit-content;
    background-size: cover;
  }
}
