.footerArea {
  padding: 80px 0px;
  margin: 0px 15px;
  font-family: sans-serif;
}

.footerAreaContent {
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ftLink-logo {
  display: flex;
  flex-direction: column;
}

.footerLogo {
  width: fit-content;
  height: fit-content;
  margin-bottom: 15px;
}

.footerLogo img {
  width: 110px;
}

.ftLink {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}

.ftLink img {
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
}

.footerftLinkImg {
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.ftImgHover {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.footerftLinkImg:hover .ftImgHover {
  opacity: 1;
  visibility: visible;
}

.footerftLinkImg:hover::before {
  opacity: 1;
}

.ftLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 160px;
}

.ftLinksContainer div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact {
  margin-bottom: 30px;
}

.contact,
.address {
  display: flex;
  flex-direction: column;
}

.ftLinks-title {
  color: #232f3e;
  font-size: 1.2rem;
}

.ftLinksContainer div a {
  color: #6f6f6f;
  transition: 0.3s ease-in-out;
}

.ftLinksContainer div a:hover {
  color: #ff5049;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footerArea {
    margin: 0px 20px;
    padding: 50px 0px;
    width: 90%;
  }

  .footerAreaContent {
    flex-direction: column;
    padding: 0px;
  }

  .ftLinksContainer {
    flex-direction: column;
    gap: 20px;
  }

  /* .footerAreaContent {
    flex-direction: column;
  }

  .footerLogo img {
    width: 160px;
  }

  .ftLink {
    grid-column-gap: 50px;
    grid-row-gap: 15px;
  }

  .ftLink img {
    width: 100px;
    border-radius: 5px;
  }

  

  .ftLinks-title {
    font-size: 1.5rem;
  }

  .ftLinksContainer div a {
    font-size: 1.2rem;
  } */
}

/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footerAreaContent {
    flex-direction: column;
  }
} */
