.opDescription {
  padding-top: 30px;
  color: rgb(111, 111, 111);
  font-size: 0.9rem;
}

.opDescription-para {
  line-height: 25px;
}

.opDescription h2 {
  color: #232f3e;
  font-size: 1.2rem;
  margin: 30px 0px;
}

.opDescription ul {
  padding-left: 15px;
}

.opDescription ul li {
  padding: 8px 0px;
  list-style-type: square;
}
