.quickView {
  background-color: white;
  position: fixed;
  top: 150px;
  left: 350px;
  height: auto;
  width: 50%;
  z-index: 1000;
  border-radius: 5px;
  font-family: sans-serif;
}

.quickView h1 {
  font-size: 1.2rem;
  padding: 15px;
  border-bottom: 1px solid #d6cbcb;

  color: #333333;
}

.quickView-content {
  padding: 15px;
  display: flex;
  gap: 10px;
}

.imgContainer-quickView {
  height: fit-content;
  width: fit-content;
}

.imgContainer-quickView img {
  border-radius: 8px;
  height: 350px;
  object-fit: contain;
}

.quickView-details {
  overflow-y: scroll;
  height: 350px;
}
.quickView-ratings {
  margin-bottom: 15px;
}

.quickView-info h2 {
  font-size: 1.1rem;
  color: #333333;
  margin-bottom: 15px;
}

.quickView-info span {
  color: #ff5049;
  font-weight: 600;
  font-size: 1.1rem;
}

.quickView-info p {
  font-size: 1rem;
  color: #6f6f6f;
  line-height: 25px;
  margin: 20px 0px;
}

.quickView-inputBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quickView-inputBtn span {
  margin-right: 10px;
  font-weight: 600;
  color: #232f3e;
}

.quickViewBtn input {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #6f6f6f;
  border-radius: 5px;
  color: #6f6f6f;
}

.quickViewBtn-btnContainer {
  display: flex;
  flex-direction: column;
}

.quickViewBtn-btnContainer button {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #6f6f6f;
  width: 25px;
  cursor: pointer;
}

.quickView-addToCart {
  margin-top: 15px;
  background-color: #232f3e;
  padding: 15px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
}

.quickView-addToCart:hover {
  background-color: #ff5049;
}

.quickViewWishlistBtn {
  margin-top: 15px;
  cursor: pointer;
  color: #6f6f6f;
  width: fit-content;
  transition: 0.3s ease-in-out;
}

.quickViewXicon {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .quickView {
    width: 94%;
    top: 10px;
    left: 10px;
    height: auto;
  }

  .imgContainer-quickView {
    width: 100%;
  }

  .imgContainer-quickView img {
    width: 100%;
  }

  .quickViewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #d6cbcb;
  }

  .quickView h1 {
    font-size: 1.2rem;
    padding: 0px;
    border-bottom: none;
    color: #333333;
  }

  .quickViewXicon {
    display: block;
  }

  .quickView-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .quickView {
    width: 85%;
    top: 250px;
    left: 50px;
    height: auto;
  }

  .quickViewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #d6cbcb;
  }

  .quickView h1 {
    font-size: 1.2rem;
    padding: 0px;
    border-bottom: none;
    color: #333333;
  }

  .quickViewXicon {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .quickView {
    width: 80%;
    top: 350px;
    left: 80px;
    height: auto;
  }

  .quickViewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #d6cbcb;
  }

  .quickView h1 {
    font-size: 1.2rem;
    padding: 0px;
    border-bottom: none;
    color: #333333;
  }

  .quickViewXicon {
    display: block;
  }
}
