.searchPageNav {
  display: flex;
  flex-direction: row;
  border: 1px solid #d6cbcb;
  border-left: none;
  border-right: none;
  padding: 10px 0px;
  padding-left: 110px;
  font-family: sans-serif;
  gap: 5px;
  color: #6f6f6f;
  font-size: 0.9rem;
}

.searchPageNav-link {
  color: #6f6f6f;
}

.searchPageNav-link:hover {
  color: black;
}
