.customSdisplayProduct-swiperSlide {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sDispalyProductImg {
  width: auto;
  height: auto;
}

.sDispalyProductImg img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.customSdisplayProduct-swiperSlide:hover .sDispalyProductImg img {
  transform: scale(1.1);
}

.sDispalyProduct-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.sDispalyProduct-name {
  color: #6f6f6f;
}

.sDispalyProductProduct span {
  color: #ff5049;
  font-weight: 500;
}

.sDisplaystar-checked {
  color: #fe9704;
}

.sDisplayiconBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  right: 10px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, right 0.3s ease;
}

.customSdisplayProduct-swiperSlide:hover .sDisplayiconBtn {
  opacity: 1;
  visibility: visible;
  right: 10%;
}

.sDisplayBtn-icon {
  border: 1px solid #6f6f6f;
  color: #6f6f6f;
  padding: 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.sDisplayBtn-icon:hover {
  border: #ff5049;
  background-color: #ff5049;
  color: #fff;
}
