.searhOPinfo {
  padding: 80px 110px;
}

.searhOPinfo-btnContainer {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #d6cbcb;
  padding-bottom: 12px;
}

.searhOPinfo-btnContainer button {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(111, 111, 111);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searhOPinfo-btnContainer button .active {
  color: #232f3e;
}

.searhOPinfo-btnContainer button:hover {
  color: #232f3e;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .searhOPinfo {
    padding: 80px 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .searhOPinfo {
    padding: 70px 40px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .searhOPinfo {
    padding: 0px 70px;
  }
}
