.services {
  font-family: sans-serif;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  border: 1px solid #6f6f6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  width: 280px;
}

.serviceIcon {
  color: #ff5049;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.service:hover .serviceIcon {
  rotate: y 200deg;
}

.service h5 {
  margin-top: 24px;
  color: #232f3e;
  font-size: 1.1rem;
  font-weight: bold;
}

.service span {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #6f6f6f;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .services {
    width: 100%;
  }

  .serviceIcon {
    font-size: 1.5rem;
  }

  .service h5 {
    font-size: 1rem;
  }

  .service span {
    font-size: 1rem;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .services {
    width: 100%;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .service {
    width: 32vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .services {
    width: 100%;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .service {
    width: 32vh;
  }
}
