.shopPageFilter {
  width: 300px;
}

.shopPageFilterItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopFilterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopFilterHeader button {
  background: transparent;
  border: none;
  color: #6f6f6f;
  font-size: 0.95rem;
  border-bottom: 1px solid #d6cbcb;
  padding-bottom: 2px;
  cursor: pointer;
}

.shopPageLine {
  border: 1px solid #d6cbcb;
  margin-top: 20px;
  margin-bottom: 30px;
}

.shopPageFilterItem h2 {
  font-size: 1rem;
  color: #333333;
  border-left: 2px solid #ff5049;
  padding-left: 8px;
}

.shopPageFilterItem span {
  color: #6f6f6f;
  font-size: 0.95rem;
}

.shoPageFilterInputs {
  display: flex;
  justify-content: space-between;
}

.pageFilterCategory {
  padding-left: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .shopPageFilter {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1000;
    left: 0px;
    height: 100vh;
    padding: 20px;
    transition: 0.5s ease-in-out;
  }

  .hideFilterReset {
    display: none;
  }

  .filterXmark {
    font-size: 1.5rem;
  }

  .shopPageFilterItem span {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .shopPageFilter {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1000;
    left: 0px;
    height: 100vh;
    padding: 20px;
    transition: 0.5s ease-in-out;
  }

  .hideFilterReset {
    display: none;
  }

  .filterXmark {
    font-size: 1.5rem;
  }

  .shopPageFilterItem span {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .filterXmark {
    display: none;
  }
}
