.shopPage-swiper {
  margin-top: 20px;
  width: 880px;
  height: auto;
}
.custompShop-swiperSlide {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.shopItemImg img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.custompShop-swiperSlide:hover .shopItemImg img {
  transform: scale(1.1);
}

.shopItem-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.shopItem-name {
  color: #6f6f6f;
}

.priceShopItem span {
  color: #ff5049;
  font-weight: 500;
}

.shopItemStar-checked {
  color: #fe9704;
}

.shopItemIconBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  right: 10px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, right 0.3s ease;
}

.custompShop-swiperSlide:hover .shopItemIconBtn {
  opacity: 1;
  visibility: visible;
  right: 10%;
}

.ShopItemBtn-icon {
  border: 1px solid #6f6f6f;
  color: #6f6f6f;
  padding: 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.ShopItemBtn-icon:hover {
  border: #ff5049;
  background-color: #ff5049;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .shopPage-swiper {
    width: 100%;
  }

  .shopItemIconBtn {
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    opacity: 1;
    visibility: visible;
    padding-bottom: 20px;
  }

  .ShopItemBtn-icon {
    padding: 10px;
  }

  .ShopItemBtn-icon,
  .quickViewBtn,
  .wishListBtn {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .shopPage-swiper {
    width: 100%;
  }

  .shopItemIconBtn {
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    opacity: 1;
    visibility: visible;
    padding-bottom: 20px;
  }
  .ShopItemBtn-icon {
    padding: 10px;
  }

  .ShopItemBtn-icon,
  .quickViewBtn,
  .wishListBtn {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .shopPage-swiper {
    width: 100%;
  }

  .shopItemIconBtn {
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    opacity: 1;
    visibility: visible;
    padding-bottom: 20px;
  }
  .ShopItemBtn-icon {
    padding: 10px;
  }

  .ShopItemBtn-icon,
  .quickViewBtn,
  .wishListBtn {
    font-size: 0.8rem;
  }
}
