.customLayout {
  height: auto;
  font-family: sans-serif;
  margin-top: 20px;
}

.customLayoutContent {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.customLayoutImg {
  height: auto;
  width: auto;
}

.customLayoutImg img {
  height: 285px;
  border-radius: 8px;
}

.customLayoutInfo h3 {
  font-size: 0.9rem;
  color: 333333;
  font-weight: normal;
  padding-bottom: 6px;
}

.customLayoutInfo span {
  font-size: 0.9rem;
  color: #ff5049;
  font-weight: 600;
}

.customLayoutStar-checked {
  color: #fe9704;
}

.customLayoutRatings {
  margin: 8px 0px;
}

.customLayoutInfo p {
  color: #6f6f6f;
  line-height: 25px;
}

.customLayoutIcons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.customLayoutIcon {
  border: 1px solid #6f6f6f;
  color: #6f6f6f;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.customLayoutIcon:hover {
  border: #ff5049;
  background-color: #ff5049;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .customLayout {
    width: 100%;
  }

  .customLayoutContent {
    flex-direction: column;
    height: auto;
  }

  .customLayoutImg {
    width: 100%;
    height: auto;
  }

  .customLayoutImg img {
    width: 100%;
    object-fit: cover;
    height: 330px;
  }

  .customLayoutInfo h3 {
    text-align: center;
    font-size: 0.8rem;
  }

  .customLayoutPrice {
    font-size: 1rem;
    text-align: center;
    display: block;
  }

  .customLayoutRatings {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  .customLayoutInfo p {
    font-size: 0.8rem;
    text-align: center;
  }

  .customLayoutIcons {
    gap: 5px;
    display: flex;
    justify-content: center;
  }

  .customLayoutIcon {
    font-size: 0.8rem;
  }
}
