.emptyWishlist {
  font-family: sans-serif;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #232f3e;
}

.emptyWishlistTitle {
  font-size: 3.8rem;
  font-weight: 500;
}

.emptyWishlistPara {
  font-weight: 600;
  text-align: center;
  width: 580px;
  margin: 20px 0px;
}

.emptyWishlistLink {
  color: #6f6f6f;
}

.emptyWishlistBtn {
  color: #232f3e;
  text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .emptyWishlistPara {
    width: 100%;
  }
}
